doctype html

html
  head
    title GWEN BELL - Technologist & Writer- #{title}  
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='viewport', content='maximum-scale=1')
    link(rel="shortcut icon", href="/favicon.png")
    link(rel='stylesheet' href='/static/reserva.css')
    link(rel='stylesheet' href='/static/simplicitease.css')
  body
    .contain
      .twelve.col
        h1 <a href="/">GWEN BELL</a>  
        block content
        .greeting Hi & welcome. What are you looking at? When it loads (and how fast it does so depends on your wifi speeds, but once it loads you can play with it offline. Which, think about it. Is pretty great, right?), you're looking at a decentralized social network called <a href="https://github.com/gwenbell/decent">Decent</a>. You can interact with it, and with me, by clicking on the random string of characters next to the word 'public', editing 'profile' to whatever user name you want to use, and then saying something, clicking a star, following a person, all the things you know how to do. This is beta technology, thanks for giving it a go. If you want to use the same identity next time you visit, save your keypair available under the word 'Key'; you alone have access to it. 
        p For the super tech crowd, hi! I build this site with Deno. 
        p Email: gwen at gwenbell.com
        hr
     .twelve.col
       <h6 style="float:right; padding-right: 4em ">2018</h6>
